@import "tailwindcss";

body{
    background-color: #d9e0ec;
}

.font-perso {
  font-family: "Rubik Mono One", monospace;
}

.font-Abel {
  font-family: "Abel", monospace;
}

.font-Mohave{
  font-family: "Mohave", monospace;
}
